################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Datasheet-Browser/.vs/Datasheet-Browser/v15
